%h1 Listing blogs
%table
  %thead
    %tr
      %th Title
      %th content
  %tbody
    - @blogs.each do |blog|
      %tr
        %td= blog.title
        %td= blog.content
        %td= link_to 'show', blog_path(blog.id)
        %td= link_to 'edit', edit_blog_path(blog.id)
        %td= link_to 'destroy', blog_path(blog.id), method: :delete, data: {confirm: 'Are you sure?'}

= link_to 'new_blog', new_blog_path